*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    image-rendering: optimizeSpeed;
    text-rendering: optimizeSpeed;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    image-rendering: optimizeSpeed;
}

body {
    display: grid;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    place-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 0.5fr 1fr;
    position: relative;
    background: rgba(75, 159, 255, 0.6);
}

.caption {
    display: flex;
    grid-column: 2/4;
    flex-direction: column;
    grid-row: 1/3;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.caption > h2 {
    color: rgb(255, 221, 67);
    font-size: 2rem;
    padding-bottom: 4%;
}

.caption > p {
    color: white;
    font-size: 1.3rem;
}

form {
    
    grid-column: 2/4;
    grid-row: 2/4;
    color: white;
    font-size: 1.1rem;
    align-content: center;
}

input {
    max-width: min-content;
    max-height: 4%;
    border-radius: 5px;
    grid-column: 3;
}